@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
    --font-family-modern-antiqua: 'Modern Antiqua', serif;
    --font-family-space-mono: 'Space Mono', monospace;
}